# Currently working project that do not need to be pushed to the remote server

# Cache File
/word-guessing-game/__pycache__
/number-guessing-game/__pycache__
/twentyplusonegame/__pycache__
/flames/__pycache__
/pokemon-training-game/__pycache__
/rock-paper-scisson-game/__pycache__
/cows-and-bulls-game/__pycache__